.appBody {
  background-color: rgb(37, 37, 37);
  height: 100dvh;
}

.mainName {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoHeader {
  width: 40px;
  height: 40px;
}

header {
  height: 8dvh;
}

h1 {
  margin: 0;
  color: #8b48a0;
  padding-left: 1%;
  padding-right: 1%;
}

