.appBody {
  background: linear-gradient(180deg, rgb(59, 59, 59), rgb(34, 34, 34));
  height: 100dvh;
}

.mainName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1%;
  gap: 10px;
}

#logoHeader {
  width: 40px;
  height: 40px;
}

header {
  height: 8dvh;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #ba57d8;
  align-items: center;
}

p {
  color: whitesmoke;
}

h1 {
  margin: 0;
  color: #8b48a0;
  padding-left: 1%;
  padding-right: 1%;
}

.user{
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 6dvh;
  align-items: center;
  justify-content: center;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91.63dvh;
}



