.allBoxes {
    border-bottom: 3px solid #ba57d8;
    height: 100%;
    width: 35%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.sectionTitle {
    font-size: 25px;
    color: #eca451;
}

.box{
    width: 35%;
    border: 2px solid #eca451;
    border-radius: 5px;
    margin: 2%;
    box-shadow: 1px 2px 8px 0 #eca451;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
}

.box .titleBox{
    font-size: 18px;
}

.box .contentBox{
    font-size: 12px;
    margin: 5%;
    text-align: justify;
}