.allBoxes {
    border-bottom: 3px solid #ba57d8;
    height: 100%;
    width: 35%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.sectionTitle {
    font-size: 25px;
    color: #eca451;
    border-bottom: 1px solid #ba57d8;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 0;
}

.notesList {
    display: flex;
    flex-wrap: wrap;
    max-height: 88%; 
    overflow-y: auto; 
}

.box {
    flex: 1 1 calc(30%);
}