.box{
    width: 35%;
    border: 2px solid #eca451;
    border-radius: 5px;
    margin: 5% 5%;
    box-shadow: 1px 2px 8px 0 #eca451;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
}

.box .titleBox{
    font-size: 18px;
}

.box .contentBox{
    font-size: 12px;
    margin: 5%;
    text-align: justify;
}